html {
  font-family: 'Roboto', sans-serif;
}

Homepage:

.banner {
  background-image:
    linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)),
    url("../images/banner.jpg");
  background-size: cover;
  background-position: center bottom;
  border-bottom: 3px solid #145b1d;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: .75em 180px;
  background-size: 100px;
}
