html {
  font-family: 'Roboto', sans-serif;
}

.banner {
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  width: 60%;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

header {
  background-color: #fff;
}

nav {
  position: relative;
}

ul {
  position: absolute;
  top:35%;
  right: 10px;
}


nav ul li a {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

nav ul li a:hover {
  color: #601893;
}

a {
  display: inline-block;
}

hr {
  border-color: #e2e2e2;
}

.btn-home {
  display: inline-block;
}

.about-content {
  max-width: 30em;
  margin: auto;
}

.rescues-content {
  margin:auto;
}

legend {
  border: none;
}

fieldset {
  border: none;
}
